entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.9
goodlogging==1.0.1
jdcal==1.4.1
mccabe==0.6.1
openpyxl==3.0.3
pycodestyle==2.5.0
pyflakes==2.1.1
PyQt5==5.13.2
PyQt5-sip==12.7.0
PyQt5-stubs==5.13.1.4
rarfile==2.7
requests==2.6.0
sip==4.19.8
